**/*.npz
tmp/*
.env
**/.env
**/*.egg-info
**/*.orig
**/*.pyc
**/__pycache__
.pytest_cache
.venv/
.coverage
.dockerignore
.editorconfig
.git
.gitignore
.idea
.pytest_cache
logs/*
build
sdist
dist
.envrc
.vscode
tmp
